h2 {
  width: 300px !important;
  padding: 5px !important;
  font-family: 'Dosis', sans-serif;
}

.story {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  padding: 25px auto;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

.special-separator {
  border-top: rgba(255, 255, 255, 0.25) !important;
}

emoji {
  font-size: 15px;
  line-height: 1px;
}

time {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
}

.ml10 {

}

@media (max-width: 1200px) {
  time {
    font-size: 24px;
  }
}
