h2 {
  width: 300px !important;
  padding: 5px !important;
  font-family: 'Dosis', sans-serif;
}

.story {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  padding: 25px auto;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

.special-separator {
  border-top: rgba(255, 255, 255, 0.25) !important;
}

emoji {
  font-size: 15px;
  line-height: 1px;
}

time {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
}

.ml10 {

}

@media (max-width: 1200px) {
  time {
    font-size: 24px;
  }
}

.black-border-500px-img {
  width: 500px;
  text-align: center;
  border-radius: 5px;
  border: 5px solid black;
  box-shadow: 0 0 10px #555;
  margin: 0 auto;
  display: block;
}

.black-border-300px-img {
  width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 5px solid black;
  box-shadow: 0 0 10px #555;
}

.red-round-border-300px {
  width: 300px;
  border-radius: 50%;
  border: 2.5px solid rgba(222, 40, 40, 0.5);
  box-shadow: 0 0 10px rgba(222, 40, 40, 0.8);
}

.red-round-border-285px {
  width: 285px;
}

.f-right {
  float: right;
}
