h2 {
  width: 300px !important;
  padding: 5px !important;
  font-family: 'Dosis', sans-serif;
}

.story {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 20px;
  padding: 25px auto;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

hr {
  color: rbga(255, 255, 255, 0.25);
}
