body {
  background: #DDD;
  font-family: "Raleway";
}

.block {
  width: 80%;
  height: 100%;
  background: transparent;
  margin: 0 auto;
  padding: 25px;
  backdrop-filter: blur(10px);
}

img {
  width: 760px;
  display: block;
  box-shadow: 0 0 25px #777;
}

.dots {
  display: none;
}

.caption {
  font-size: 32px;
  margin: 0px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.50);
  color: black;
  width: 712px;
  line-height: 1.5;
}

.top-caption {
  margin: 50px auto 0px auto;
  font-size: 60px;
  width: 700px;
  text-align: center;
  padding: 25px;
}

.happy_birthday_sonia {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 72px;
  color: #DDD;
  background: #222;
  padding: 10px 0px;
}

section {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.9);
  animation: shrink 2s infinite alternate steps(6000);
}

@keyframes shrink {
  0% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1.0)
  }
}

.one {
  padding-top: 100px;
  background-image: url("../img/IMG-20210215-WA0017.jpg");
}
.two {
  background-image: url("../img/27mar2021_3.jpg")
}

.three {
  background-image: url("../img/IMG-20210217-WA0026.jpg");

}
.four {
  background-image: url("../img/06jun2021_show_piece.png");

}
.five {
  background-image: url("../img/may_video_call_2_alone.png");

}
.six {
  background-image: url("../img/jun2021random2.png");

}
.seven {
  background-image: url("../img/20210406_100822.jpg");

}
.eight {
  background-image: url("../img/06dec2020.jpeg");

}
.nine {
  background-image: url("../img/IMG-20210211-WA0004.jpg");

}
.ten {
  background-image: url("../img/IMG-20210322-WA0008.jpg");

}
.eleven {
  background-image: url("../img/apr_3w_3.png");

}
.twelve {
  background-image: url("../img/IMG-20210214-WA0026.jpg");

}
.thirteen {
  background-image: url("../img/sad_babes.jpg");

}
.fourteen {
  background-image: url("../img/06jul2021.jpeg");

}
.fifteen {
  background-image: url("../img/23jan2021.jpg");

}
.sixteen {
  background-image: url("../img/10apr2021_2.jpeg");

}
.seventeen {
  background-image: url("../img/23_may_letter_original.jpeg");

}
.eighteen {
  background-image: url("../img/valentines_gift.png");

}
.nineteen {
  background-image: url("../img/hand_holding.png");

}
.twenty {
  background-image: url("../img/distance.png");

}
.twentyone {
  background-image: url("../img/25jul2021_2.jpeg");

}
.twentytwo {
  background-image: url("../img/close.png");

}
.twentythree {
  background-image: url("../img/bae_insta_old.png");

}
.twentyfour {
  background-image: url("../img/twinning.png");

}
.twentyfive {
  background-image: url("../img/10jul2021_1.jpeg");

}
.twentysix {
  background-image: url("../img/IMG-20210211-WA0004.jpg");

}
.twentyseven {
  background-image: url("../img/matrimonial_sonia.png");

}
.twentyeight {
  background-image: url("../img/apr_3w_6.jpeg");

}
.twentynine {
  background-image: url("../img/back_hug.png");

}
.thirty {
  background-image: url("../img/IMG-20210320-WA0006.jpg");

}
.thirtyone {
  background-image: url("../img/may_video_call_2_alone.png");

}
.thirtytwo {
  background-image: url("../img/14feb2021_home1.png");

}
.thirtythree {
  background-image: url("../img/b3943a0a.jpg");

}
.thirtyfour {
  background-image: url("../img/pinch_of_spice.png");

}
.thirtyfive {
  background-image: url("../img/06jul2021.jpeg");

}
.thirtysix {
  background-image: url("../img/agar_tum_saath_ho.png");

}
.thirtyseven {
  background-image: url("../img/17jul2021_7.jpg");

}
.thirtyeight {
  background-image: url("../img/cake.png");

}
.thirtynine {
  background-image: url("../img/16apr2021_1.jpeg");

}
.forty {
  background-image: url("../img/delhi.png");

}
.fortyone {
  background-image: url("../img/diggin_bae.png");

}
.fortytwo {
  background-image: url("../img/15aug2021_3.jpeg");
}
.fortythree {
  background-image: url("../img/gal_put.png");
}
.fortyfour {
  background-image: url("../img/gal_put.png");
}
.fortyfive {
  background-image: url("../img/anniv_kissi.png");
}
.fortysix {
  background-image: url("../img/moteeee.png")
}

.fortysix > .block > .caption {
  background-color: rgba(0, 0, 0, 0.50);
  color: white
}

